body{
	background-color: rgb(211, 237, 250);
	font-family:Tlwg Mono;
}
.container
{
	background-color: white;
}
#shop_head
{
	margin-bottom: 15px;
}
#shop_main
{
	margin-bottom: 200px;
	line-height: 1.5;
}
#shop_foot
{
	background-color: rgb(236, 171, 201);
	color: rgb(147, 77, 146);
	padding: 30px;
	line-height: 1.8;
	margin: 15px 0px;
}
