<!DOCTYPE html>
<div class="row">
	{if $isAdmin}
	<div class="col-2">
		<select size=10 class="form-control" onChange="location.href='user.php?user_sn='+this.value">
			{foreach from=$all_users item=mem}
			<option value="{$mem.user_sn}"{if $now_user_sn == $mem.user_sn}selected{/if}>{$mem.user_name}</option>
			{/foreach}
		</select>
	</div>
	{/if}	
	<div class="col-10">
		<h1>Profile</h1>
		<table class="table table-warning table-hover table-responsive">
		<tr>
			<td>Name:</td><td>{$user.user_name}</td>
		</tr>
		<tr>
			<td>ID:</td><td>{$user.user_id}</td>
		</tr>
		<tr>
			<td>Email:</td><td>{$user.user_email}</td>
		</tr>
		<tr>
			<td>Sex:</td><td>{$user.user_sex}</td>
		</tr>
		<tr>
			<td>Phone:</td><td>{$user.user_tel}</td>
		</tr>
		<tr>
			<td>Address:</td><td>{$user.user_zip}{$user.user_country}{$user.user_district}{$user.user_address}</td>
		</tr>
		</table>
		<div class="text-center">
			<a href="user.php?op=user_form&user_sn={$user.user_sn}" class="btn btn-outline-secondary">Edit Profile</a>
			{if $isAdmin}
			<a href="user.php?op=delete_user&user_sn={$user.user_sn}" class="btn btn-outline-danger">Delete Account</a>
			{/if}
		</div>
	</div>
</div>
