<h3 class="text-center">{$bill.bill_date}訂購細目-{$bill.bill_status}</h3>
<div>收貨人:{$bill.user_name}{if $bill.user_sex==1}先生{else}小姐{/if}</div>
<div>收貨地址:{$bill.user_zip}{$bill.user_country}{$bill.user_district}{$bill.user_address}</div>
<div>收貨電話:{$bill.user_tel}</div>
<table class="table table-light table-hover">
	<tr>
		<th>商品名稱</th>
		<th>單價</th>
		<th>數量</th>
		<th style="text-align: right;">小計</th>
	</tr>
	{foreach from=$bill_detail item=bill}
	<tr>
		<td>{$bill.goods_title}</td>
		<td>{$bill.goods_price}</td>
		<td>{$bill.goods_amount}</td>
		<td style="text-align: right;">{$bill.goods_total} NTD</td>
	</tr>
	{/foreach}
	<tr>
		<td>Total:</td>
		<td></td>
		<td></td>
		<td style="text-align: right;">{$bill.bill_total} NTD</td>
	</tr>
</table>
{if $isAdmin and $bill.bill_status!="Done"}
	<script src="vendor/bootstrap-sweetalert/sweetalert.min.js"></script></script>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap-sweetalert/sweetalert.css">
	<script type="text/javascript">
		function delete_bill(bill_sn){
			swal({
				title:"確定要刪除嗎？",
				text:"刪掉之後，訂單資料會消失喔！",
				type:"warning",
				showCancelButton: true,
				confirmButtonClass: "btn-outline-danger",
				confirmButtonText: "Yes",
				closeOnConfirm: false
				},
				function()
				{
					location.href='bill.php?op=delete_bill&bill_sn='+bill_sn;
					swal("Done","It's too late to regrat","success");
				});
		}
	</script>
	<a href="javascript:delete_bill('{$bill.bill_sn}')" class="btn btn-outline-danger">Delete Order</a>
	<a href="bill.php?op=finish_bill&bill_sn={$bill.bill_sn}" class="btn btn-outline-success">Done</a>
{/if}
