<!DOCTYPE html>
<h1>Edit {$good}</h1>
<script src="vendor/ckeditor/ckeditor.js"></script>
<script src="vendor/ckfinder/ckfinder.js"></script>
<form action="tool.php" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
	<div class="form-group">
		<label class="col-2 control-label">{$good} name:</label>
		<div class="col-10">
			<input type="text" class="form-control" name="goods_title" id="goods_title" placeholder="please enter good's name" value="{$goods.goods_title}">
		</div>
	</div>

	<div class="form-group">
		<label class="col-2 control-label">Introduction:</label>
		<div class="col-10">
			<textarea class="form-control" name="goods_content" id="goods_content" placeholder="please enter good's content">{$goods.goods_content}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-2 control-label">{$notice}:</label>
		<div class="col-10">
			<textarea class="form-control" name="goods_notice" id="goods_notice" placeholder="please enter sth should be notice">{$goods.goods_notice}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-2 control-label">{$service}:(only modify if you need to edit.)</label>
		<div class="col-10">
			<textarea class="form-control" name="goods_service" id="goods_service" placeholder="please enter additional service">{$goods.goods_service}</textarea>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-2 control-label">{$special}:</label>
		<div class="col-10">
			<textarea class="form-control" name="goods_special" id="goods_special" placeholder="please enter good's special">{$goods.goods_special}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-2 control-label">{$good} price:</label>
		<div class="col-10">
			<input type="text" class="form-control" name="goods_price" id="goods_price" placeholder="please enter good's price" value="{$goods.goods_price}">
		</div>
	</div>

	<div class="form-group">
		<label class="col-2 control-label">{$good} picture:</label>
		<div class="col-10">
			<input type="file" name="goods_pic" id="goods_pic">
			{if isset($goods.pic)}
			<img src="{$goods.pic}" alt="{$goods.goods_title}">
			{/if}
		</div>
	</div>

	<div class="form-group">
		<div class="col-offset-2 col-10">
			{if isset($goods.goods_sn) and $goods.goods_sn > 0}
			<input type="hidden" name="op" value="update_goods">
			<input type="hidden" name="goods_sn" value="{$goods.goods_sn}">
			{else}
			<input type="hidden" name="op" value="insert_goods">
			{/if}
			<!--一個op的隱藏表單,是為了把東西導向正確網頁-->
			<br>
			<button type="submit" class="btn btn-outline-dark">Save {$good}</button>
		</div>
	</div>
</form>

<script>
	var editor = CKEDITOR.replace('goods_content');
	CKEDITOR.replace( 'editor1', {
    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
} );
</script>
<script>
	var editor = CKEDITOR.replace('goods_notice');
	CKEDITOR.replace( 'editor1', {
    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
} );
</script>
<script>
	var editor = CKEDITOR.replace('goods_service');
	CKEDITOR.replace( 'editor1', {
    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
} );
</script>
<script>
	var editor = CKEDITOR.replace('goods_special');
	CKEDITOR.replace( 'editor1', {
    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
} );
</script>
