<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatable" content="IE=edge">
		<!--上面主要是IE在用啦，但IE都要掰掰了-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{$shop_name}</title>
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div id="shop_head">
				<a herf="index.php">
					<img src="image/title.gif" alt="{$shop_name}" class="img-responsive"><img src="image/title_sm.png" width="300" alt="little 3boshi" class="img-responsive">
<!--img-responsive自適應功能，alt無障礙網頁，沒有圖片時也有文字說明，兩個中間沒換行可以並排，然後利用限制圖片寬度或高度來縮小圖片，讓他在比例內-->
				</a>
			</div>
			<div id="shop_main" class="row">
				<div class="col-9">
					{if $op=="goods_form"}
						{include file ="goods_form.html"}
					{else if $op=="goods_display"}
						{include file ="goods_display.html"}
					{else if $op=="user_form"}
						{include file="user_form.html"}
					{else if $op=="display_user"}
						{include file="display_user.html"}
					{else}
						{include file ='goods_list.html'}
					{/if}
				</div>
				<div class="col-3">{include file='index_side.html'}</div>
			</div>
			<div id="shop_foot" class="text-cent">
				<div>カバー株式会社</div>
				<div>Address: 日本〒104-0023 Tokyo, Chuo City, Shinkawa, 1 Chome-25-2</div>
				<div>copyright Impressum &#169 2021 cover corp. All right reserved.</div>
<!--&#169是版權符號-->
			</div>
		</div>
	</body>
</html>
