		<form role="form" class="form-horizontal" action="user.php" method="post">
			<div class="form-group">
				<label class="col-4 control-label">ID:</label>
				<div class="col-8"> 
					<input type="text" name="user_id" id="user_id" value="" placeholder="enter your id" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-4 control-label">Password:</label>
				<div class="col-8">
					<input type="password" name="user_passwd" id="user_passwd" class="form-control" placeholder="enter your password">
				</div>
			</div>

			<div class="form-group">
				<label class="col-4"></label>
				<div class="col-8">
					<input type="hidden" name="op" value="user_login">
					<button type="submit name" name="button" class="btn btn-secondary btn-sm">Log in</button>
					<a href="user.php?op=user_form" class="btn btn-warning btn-sm">Sign Up</a>
				</div>
			</div>
		</form>
