<!DOCTYPE html>
<form action="bill.php" method="post" class="form-horizontal" role="form">
	<div class="card broder-info">
		<div class="card-header">Shopping list</div>
		<table class="table">
			{foreach from=$cart key=goods_sn item=goods}
				<tr>
					<td>
						<a href="index.php?goods_sn={$goods_sn}">{$goods.goods_title}</a>
					</td>
					<td>
						<input type="text" name="goods_amount[{$goods_sn}]" value="{$goods.goods_amount}" class="form-control" style="width:40px">
					</td>
				</tr>
			{/foreach}
				<tr>
					<td colspan=2>
						<input type="hidden" name="op" value="check_out">
						<button type="submit" class="btn btn-block btn-danger">Check Out</button>
					</td>
				</tr>
		</table>
	</div>
</form>
